.homev{
    background-color: brown;
    /* padding-top: 200px; */
    margin-top: 200px;
    margin-left: 100px !important;
    /* position: relative; */
    /* position: fixed; */
    /* position: absolute; */
    /* padding-left: 200px; */
    /* display: flex;
    display: justify; */
        
    
}
.hgambar{
    height: 100% !important;
}